<!DOCTYPE html>
<html>
<head>
	<title>Board</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<style type="text/css">
		body{
			margin:30px auto;
			text-align: center ;
			background-color: cyan ;
		}
		form{
			margin-top: 30px ;
			padding: 30px ;
		}
		input, select{
			margin:20px;
		}
		ul li{
			width: 80% ;
			font-size: 20px ;
			border-bottom:1px solid red;
			padding: 15px ;
			margin-top:20px;
			margin-bottom:20px;
		}
		ul li:last-child{
			border:none;
		}
		.board{
			width:25%;
			background-color: yellow;
			border-radius: 15px ;
			margin-left:38.5%;
		}
		ul{
			list-style-type: none ;
		}
		.gly{
			float: right;
			right: 20px ;
		}
		.gly:hover{
			cursor: pointer; 
		}
		.gly img{
			width: 20px ;
			height: 20px ;
		}
		ul li a{
			padding-bottom: 20px ;
			text-decoration: none; 
		}
		ul li a:hover{
			padding-bottom: 20px ;
			text-decoration: none; 
			color: red ;
		}
		p{
			font-size: 30px ;
			border-bottom: 1px solid red ;
		}
		.not_to_be_underlined{
			border-bottom: none ;
		}
		ul li{
			text-align: left; 
		}
		.cr{
			font-size: 20px ;
		}
		.red{
			color: red ;
		}
		#usernameOfCr{
			font-size: 16px ;
		}
		.crList ul li{
			margin-bottom: 40px ;
			border-bottom: 1px solid red ;
		}
		.dummy{
			height: 2px ;
		}
		.remove img{
			width: 20px ;
			height: 20px ;
		}
	</style>
</head>
<body>

	<% include header.ejs %>
	<div class="board">
		<div class="admins">
			<p>Teachers:</p>
			<ul>
				<%for(var i=0;i<users.length;i++){%>
				<%if(users[i].type === 'teacher'){%>
				<li>
					<%=users[i].username%>
					<%if(users[i].moderated=== true){%><span class="user_moderate gly"><img src="/images/glyphicons/png/glyphicons-525-user-alert.png"></span>
					<%}else{%>
						<a href="/moderation/apply/<%=users[i].username%>"><span class="user_moderate gly"><img src="/images/glyphicons/png/glyphicons-378-riflescope.png"></span></a>
					<%}%>
				</li>
				<%}%>
				<%}%>
				<!-- glyphicons-378-riflescope -->
			</ul>
		</div>
		<div class="students">
			<p>Students:</p>
			<ul>
				<%for(var i=0;i<users.length;i++){%>
				<%if(users[i].type == 'student'){%>
				<li><%=users[i].username%>
					<a href="/make_admin_confirmation/<%=users[i].username%>">
						<span class="cross gly"><img src="images/glyphicons/png/glyphicons-433-plus.png">
						</span>
					</a>
				</li>
				<%}%>
				<%}%>
			</ul>
		</div>
		<% if(!cr){%>
		<div class="cr">
			<p id="usernameOfCr"><span class="red">There is currently no Class Representative.</span> To choose one, please type his/her username in the box and hit submit.</p>
			<input type="text" name="username" class="username">
			<input type="button" name="submit" value="Submit" class="submit">
		</div>
		<%}else{%>
		<div class="crList">
			<p>Class Representative</p>
			<ul>
				<li><%=cr.username%><a href="remove_cr/<%=cr.username%>"><span class="remove gly"><img src="/images/glyphicons/png/glyphicons-198-remove-circle.png"></span></a></li>
			</ul>
		</div>
		<%}%>
		<div class="dummy"></div>
	</div>
	<script type="text/javascript" src="javascripts/jquery.min.js"></script>
	<script type="text/javascript">
		$('.submit').click(function(){
			$.post('/make_cr/'+$('.username').val() , function(response){
				if(response.success){
					var username = $('.username').val()
					$('.board').append('<div class="crList"><p>Class Representative</p><ul><li>'+username+'<a href="remove_cr/'+username+'"><span class="remove gly"><img src="/images/glyphicons/png/glyphicons-198-remove-circle.png"></span></a></li></ul></div> <div class="dummy"></div>')

					$('.cr').remove();
				}else{
					console.log(response.message) ;
				}
			})
		})
	</script>
</body>
</html>
