<!DOCTYPE html>
<html>
<head>
	<title>Board</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<% include styles.ejs %>
	<style type="text/css">
		body{
			margin:30px auto;
			text-align: center ;
			background-color: cyan ;
		}
		.board{
			width:25%;
			background-color: yellow;
			border-radius: 15px ;
			margin-left:38.5%;
		}
		.title{
			font-size: 30px;
			padding: 10px ;
			border-bottom:1px solid orange;
		}
		.content{
			font-size: 20px;
			margin: 30px ;
			padding-bottom: 30px ;
		}
		.links p{
			font-size: 1.5vw ;
		}
		img{
			margin-top:20px;
			border-radius: 10px ;
		}
		.links ul{
			text-align: left; 
		}
		.dummy{
			margin-top: 30px ;
			width: 10px ;
			height: 5px;
		}
	</style>
</head>
<body>
<% include header.ejs%>
	<div class="board">
		<div class="title"><%= notice.header%></div>
		<%if(imageExists){%>
		<img src="/noticeImage/<%=notice.header%>.png" width="90%" height="90%">
		<%}%>
		<div class="content"><%= notice.content%></div>

		
		<div class="links">
			
			<%if(notice.links.length){%>
			<p>Footnotes and resource links</p>
				<ul>
					<%for(var i=0;i<notice.links.length;i++){%>
						<li><a href="<%=notice.links[i]%>"><%=notice.links[i]%></a></li>
					<%}%>
				</ul>
			<%}%>
		</div>
		<div class="dummy"></div>
		
	</div>
	<% include scripts.ejs %>
</body>
</html>